<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}" lang="ru">
<head th:fragment="htmlhead">
    <!-- Установка кодировки документа и метатега viewport -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Метатеги для SEO -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Заголовок веб-страницы -->
    <title>Приют для животных</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- Логотип с ссылкой на главную страницу -->
        <a class="navbar-brand" th:href="@{/}" style="color: #f8f9fa;">Приют для животных &#x1F431;</a>
        <!-- Кнопка для открытия/закрытия меню на мобильных устройствах -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Меню навигации -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Ссылка на главную страницу -->
                <li class="nav-item"><a class="nav-link" th:href="@{/}" style="color: #f8f9fa;">Главная</a></li>
                <!-- Ссылка на страницу добавления животного -->
                <li class="nav-item"><a class="nav-link" th:href="@{/animals/add}" style="color: #f8f9fa;">Добавить животное</a></li>
                <!-- Ссылка на страницу со списком животных -->
                <li class="nav-item"><a class="nav-link" th:href="@{/animals}" style="color: #f8f9fa;">Список животных</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Футер с фоновым изображением -->
<footer class="container-fluid" style="background-image: url('your-image-url.jpg');"> <!-- Замените 'your-image-url.jpg' на URL вашего желаемого фонового изображения -->
    <div class="container">
        <!-- Авторские права -->
        <p>&copy; 2024 Приют для животных</p>
    </div>
</footer>

<!-- Подключение скриптов jQuery и Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
